In [87]:
import pandas as pd
from sqlalchemy import create_engine, inspect
from config import username, password

In [88]:
# pip install psycopg2

In [89]:
# assign the csv files to a variable
fact_file = "Transformed_Data/planetary_fact_sheet_transformed.csv"
ratio_file = "Transformed_Data/planetary_ratio_fact_sheet_transformed.csv"

In [90]:
# read the fact sheet csv file
fact_df = pd.read_csv(fact_file)
fact_df

,Planet,Mass per 1024kg,Diameter per km,Density per kg/m3,Gravity per m/s2,Escape Velocity per km/s,Rotation Period per hours,Length of Day per hours,Distance from Sun per 106 km,Perihelion per 106 km,Aphelion per 106 km,Orbital Period per days,Orbital Velocity per km/s,Orbital Inclination per degrees,Orbital Eccentricity,Obliquity to Orbit per degrees,Mean Temperature per Celsius,Number of Moons,Ring System?
0,Mercury,0.3300,4879,5427,3.7,4.3,1407.6,4222.6,57.9,46.0,69.8,88.0,47.4,7.0,0.205,0.034,167,0,No
1,Venus,4.8700,12104,5243,8.9,10.4,-5832.5,2802.0,108.2,107.5,108.9,224.7,35.0,3.4,0.007,177.400,464,0,No
2,Earth,5.9700,12756,5514,9.8,11.2,23.9,24.0,149.6,147.1,152.1,365.2,29.8,0.0,0.017,23.400,15,1,No
3,Mars,0.6420,6792,3933,3.7,5.0,24.6,24.7,227.9,206.6,249.2,687.0,24.1,1.9,0.094,25.200,-65,2,No
4,Jupiter,1898.0000,142984,1326,23.1,59.5,9.9,9.9,778.6,740.5,816.6,4331.0,13.1,1.3,0.049,3.100,-110,79,Yes
5,Saturn,568.0000,120536,687,9.0,35.5,10.7,10.7,1433.5,1352.6,1514.5,10747.0,9.7,2.5,0.057,26.700,-140,82,Yes
6,Uranus,86.8000,51118,1271,8.7,21.3,-17.2,17.2,2872.5,2741.3,3003.6,30589.0,6.8,0.8,0.046,97.800,-195,27,Yes
7,Neptune,102.0000,49528,1638,11.0,23.5,16.1,16.1,4495.1,4444.5,4545.7,59800.0,5.4,1.8,0.011,28.300,-200,14,Yes
8,Pluto,0.0146,2370,2095,0.7,1.3,-153.3,153.3,5906.4,4436.8,7375.9,90560.0,4.7,17.2,0.244,122.500,-225,5,No

In [91]:
# read the ratio fact sheet csv file
ratio_df = pd.read_csv(ratio_file)
ratio_df

,Planet,Mass per 1024kg,Diameter per km,Density per kg/m3,Gravity per m/s2,Escape Velocity per km/s,Rotation Period per hours,Length of Day per hours,Distance from Sun per 106 km,Perihelion per 106 km,Aphelion per 106 km,Orbital Period per days,Orbital Velocity per km/s,Orbital Eccentricity,Obliquity to Orbit per degrees
0,Mercury,0.0553,0.383,0.984,0.378,0.384,58.800,175.900,0.387,0.313,0.459,0.241,1.590,12.300,0.001
1,Venus,0.8150,0.949,0.951,0.907,0.926,-244.000,116.800,0.723,0.731,0.716,0.615,1.180,0.401,0.113
2,Earth,1.0000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
3,Mars,0.1070,0.532,0.713,0.377,0.450,1.030,1.030,1.520,1.410,1.640,1.880,0.808,5.600,1.070
4,Jupiter,317.8000,11.210,0.240,2.360,5.320,0.415,0.414,5.200,5.030,5.370,11.900,0.439,2.930,0.134
5,Saturn,95.2000,9.450,0.125,0.916,3.170,0.445,0.444,9.580,9.200,9.960,29.400,0.325,3.380,1.140
6,Uranus,14.5000,4.010,0.230,0.889,1.900,-0.720,0.718,19.200,18.640,19.750,83.700,0.228,2.740,4.170
7,Neptune,17.1000,3.880,0.297,1.120,2.100,0.673,0.671,30.050,30.220,29.890,163.700,0.182,0.677,1.210
8,Pluto,0.0025,0.186,0.380,0.071,0.116,6.410,6.390,39.480,30.160,48.490,247.900,0.157,14.600,2.450

In [92]:
# set the column "Planet" as the index for the fact_file df
fact_db = fact_df.set_index('Planet')
fact_db

,Mass per 1024kg,Diameter per km,Density per kg/m3,Gravity per m/s2,Escape Velocity per km/s,Rotation Period per hours,Length of Day per hours,Distance from Sun per 106 km,Perihelion per 106 km,Aphelion per 106 km,Orbital Period per days,Orbital Velocity per km/s,Orbital Inclination per degrees,Orbital Eccentricity,Obliquity to Orbit per degrees,Mean Temperature per Celsius,Number of Moons,Ring System?
Planet,,,,,,,,,,,,,,,,,,
Mercury,0.3300,4879,5427,3.7,4.3,1407.6,4222.6,57.9,46.0,69.8,88.0,47.4,7.0,0.205,0.034,167,0,No
Venus,4.8700,12104,5243,8.9,10.4,-5832.5,2802.0,108.2,107.5,108.9,224.7,35.0,3.4,0.007,177.400,464,0,No
Earth,5.9700,12756,5514,9.8,11.2,23.9,24.0,149.6,147.1,152.1,365.2,29.8,0.0,0.017,23.400,15,1,No
Mars,0.6420,6792,3933,3.7,5.0,24.6,24.7,227.9,206.6,249.2,687.0,24.1,1.9,0.094,25.200,-65,2,No
Jupiter,1898.0000,142984,1326,23.1,59.5,9.9,9.9,778.6,740.5,816.6,4331.0,13.1,1.3,0.049,3.100,-110,79,Yes
Saturn,568.0000,120536,687,9.0,35.5,10.7,10.7,1433.5,1352.6,1514.5,10747.0,9.7,2.5,0.057,26.700,-140,82,Yes
Uranus,86.8000,51118,1271,8.7,21.3,-17.2,17.2,2872.5,2741.3,3003.6,30589.0,6.8,0.8,0.046,97.800,-195,27,Yes
Neptune,102.0000,49528,1638,11.0,23.5,16.1,16.1,4495.1,4444.5,4545.7,59800.0,5.4,1.8,0.011,28.300,-200,14,Yes
Pluto,0.0146,2370,2095,0.7,1.3,-153.3,153.3,5906.4,4436.8,7375.9,90560.0,4.7,17.2,0.244,122.500,-225,5,No

In [93]:
# set the column "Planet" as the index for the ratio_file df
ratio_db = ratio_df.set_index('Planet')
ratio_db

,Mass per 1024kg,Diameter per km,Density per kg/m3,Gravity per m/s2,Escape Velocity per km/s,Rotation Period per hours,Length of Day per hours,Distance from Sun per 106 km,Perihelion per 106 km,Aphelion per 106 km,Orbital Period per days,Orbital Velocity per km/s,Orbital Eccentricity,Obliquity to Orbit per degrees
Planet,,,,,,,,,,,,,,
Mercury,0.0553,0.383,0.984,0.378,0.384,58.800,175.900,0.387,0.313,0.459,0.241,1.590,12.300,0.001
Venus,0.8150,0.949,0.951,0.907,0.926,-244.000,116.800,0.723,0.731,0.716,0.615,1.180,0.401,0.113
Earth,1.0000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
Mars,0.1070,0.532,0.713,0.377,0.450,1.030,1.030,1.520,1.410,1.640,1.880,0.808,5.600,1.070
Jupiter,317.8000,11.210,0.240,2.360,5.320,0.415,0.414,5.200,5.030,5.370,11.900,0.439,2.930,0.134
Saturn,95.2000,9.450,0.125,0.916,3.170,0.445,0.444,9.580,9.200,9.960,29.400,0.325,3.380,1.140
Uranus,14.5000,4.010,0.230,0.889,1.900,-0.720,0.718,19.200,18.640,19.750,83.700,0.228,2.740,4.170
Neptune,17.1000,3.880,0.297,1.120,2.100,0.673,0.671,30.050,30.220,29.890,163.700,0.182,0.677,1.210
Pluto,0.0025,0.186,0.380,0.071,0.116,6.410,6.390,39.480,30.160,48.490,247.900,0.157,14.600,2.450

In [94]:
# create a connection with postgresql
# connection_string = f"{username}:{password}@localhost:5432/beyond_earth"
connection_string = "postgres:postgres@localhost:5432/beyond_earth"
engine = create_engine(f'postgresql://{connection_string}')

In [95]:
# check the table name/s
engine.table_names()

['planet_fact_sheet', 'planet_ratio_fact_sheet']

In [96]:
# check the column names in the table "planet_fact_sheet"
inspector=inspect(engine)
columns=inspector.get_columns('planet_fact_sheet')
for column in columns:
    print(column)

{'name': 'Planet', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Mass per 1024kg', 'type': NUMERIC(precision=18, scale=4), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Diameter per km', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Density per kg/m3', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Gravity per m/s2', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Escape Velocity per km/s', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Rotation Period per hours', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Length of Day per hours', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Distance from Sun per 106 km', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Perihelion per 106 km', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Aphelion per 106 km', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Orbital Period per days', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Orbital Velocity per km/s', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Orbital Inclination per degrees', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Orbital Eccentricity', 'type': NUMERIC(precision=18, scale=3), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Obliquity to Orbit per degrees', 'type': NUMERIC(precision=18, scale=3), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Mean Temperature per Celsius', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Number of Moons', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Ring System?', 'type': BOOLEAN(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}

In [97]:
# check the column names in the table "planet_fact_sheet"
inspector=inspect(engine)
columns=inspector.get_columns('planet_ratio_fact_sheet')
for column in columns:
    print(column)

{'name': 'Planet', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Mass per 1024kg', 'type': NUMERIC(precision=18, scale=4), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Diameter per km', 'type': NUMERIC(precision=18, scale=4), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Density per kg/m3', 'type': NUMERIC(precision=18, scale=3), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Gravity per m/s2', 'type': NUMERIC(precision=18, scale=3), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Escape Velocity per km/s', 'type': NUMERIC(precision=18, scale=3), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Rotation Period per hours', 'type': NUMERIC(precision=18, scale=3), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Length of Day per hours', 'type': NUMERIC(precision=18, scale=3), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Distance from Sun per 106 km', 'type': NUMERIC(precision=18, scale=3), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Perihelion per 106 km', 'type': NUMERIC(precision=18, scale=3), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Aphelion per 106 km', 'type': NUMERIC(precision=18, scale=3), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Orbital Period per days', 'type': NUMERIC(precision=18, scale=3), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Orbital Velocity per km/s', 'type': NUMERIC(precision=18, scale=3), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Orbital Eccentricity', 'type': NUMERIC(precision=18, scale=3), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Obliquity to Orbit per degrees', 'type': NUMERIC(precision=18, scale=3), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}

In [102]:
# delete the contents of both tables
engine.execute("DELETE FROM planet_ratio_fact_sheet")
engine.execute("DELETE FROM planet_fact_sheet")

In [103]:
# export the fact_db data to the table planet_fact_sheet
fact_db.to_sql(name='planet_fact_sheet', con=engine, if_exists='append', index=True)

In [104]:
# export the ratio_db data to the table planet_ratio_fact_sheet

ratio_db.to_sql(name='planet_ratio_fact_sheet', con=engine, if_exists='append', index=True)