In [100]:
# import library
import pandas as pd

In [101]:
# assign the csv file to a variable
fact_sheet_path = ('Resources/planetary_fact_sheet.csv')

# read the csv file while setting the index_col = 0 to use the first column in the csv file as the index
fact_sheet_df = pd.read_csv(fact_sheet_path, index_col=0)
fact_sheet_df

,Unnamed: 0.1,MERCURY,VENUS,EARTH,MOON,MARS,JUPITER,SATURN,URANUS,NEPTUNE,PLUTO
0,Mass (1024kg),0.330,4.87,5.97,0.073,0.642,1898,568,86.8,102,0.0146
1,Diameter (km),4879,12104,12756,3475,6792,142984,120536,51118,49528,2370
2,Density (kg/m3),5427,5243,5514,3340,3933,1326,687,1271,1638,2095
3,Gravity (m/s2),3.7,8.9,9.8,1.6,3.7,23.1,9.0,8.7,11.0,0.7
4,Escape Velocity (km/s),4.3,10.4,11.2,2.4,5.0,59.5,35.5,21.3,23.5,1.3
5,Rotation Period (hours),1407.6,-5832.5,23.9,655.7,24.6,9.9,10.7,-17.2,16.1,-153.3
6,Length of Day (hours),4222.6,2802.0,24.0,708.7,24.7,9.9,10.7,17.2,16.1,153.3
7,Distance from Sun (106 km),57.9,108.2,149.6,0.384*,227.9,778.6,1433.5,2872.5,4495.1,5906.4
8,Perihelion (106 km),46.0,107.5,147.1,0.363*,206.6,740.5,1352.6,2741.3,4444.5,4436.8
9,Aphelion (106 km),69.8,108.9,152.1,0.406*,249.2,816.6,1514.5,3003.6,4545.7,7375.9
10,Orbital Period (days),88.0,224.7,365.2,27.3*,687.0,4331,10747,30589,59800,90560
11,Orbital Velocity (km/s),47.4,35.0,29.8,1.0*,24.1,13.1,9.7,6.8,5.4,4.7
12,Orbital Inclination (degrees),7.0,3.4,0.0,5.1,1.9,1.3,2.5,0.8,1.8,17.2
13,Orbital Eccentricity,0.205,0.007,0.017,0.055,0.094,0.049,0.057,0.046,0.011,0.244
14,Obliquity to Orbit (degrees),0.034,177.4,23.4,6.7,25.2,3.1,26.7,97.8,28.3,122.5
15,Mean Temperature (C),167,464,15,-20,-65,-110,-140,-195,-200,-225
16,Surface Pressure (bars),0,92,1,0,0.01,Unknown*,Unknown*,Unknown*,Unknown*,0.00001
17,Number of Moons,0,0,1,0,2,79,82,27,14,5
18,Ring System?,No,No,No,No,No,Yes,Yes,Yes,Yes,No
19,Global Magnetic Field?,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Unknown
20,NaN,MERCURY,VENUS,EARTH,MOON,MARS,JUPITER,SATURN,URANUS,NEPTUNE,PLUTO

In [102]:
# delete the column "MOON" since it's not a planet
del fact_sheet_df['MOON']

# renamed the first column to "Planet"
fact_sheet_df.columns.values[0] = "Planet"

# converted the column names to titles (first character to uppercase, and remaining to lower case)
fact_sheet_df.columns = fact_sheet_df.columns.str.title()

# delete unnecessary rows
fact_sheet_transformed = fact_sheet_df.drop([16,19,20])
fact_sheet_transformed

,Planet,Mercury,Venus,Earth,Mars,Jupiter,Saturn,Uranus,Neptune,Pluto
0,Mass (1024kg),0.330,4.87,5.97,0.642,1898,568,86.8,102,0.0146
1,Diameter (km),4879,12104,12756,6792,142984,120536,51118,49528,2370
2,Density (kg/m3),5427,5243,5514,3933,1326,687,1271,1638,2095
3,Gravity (m/s2),3.7,8.9,9.8,3.7,23.1,9.0,8.7,11.0,0.7
4,Escape Velocity (km/s),4.3,10.4,11.2,5.0,59.5,35.5,21.3,23.5,1.3
5,Rotation Period (hours),1407.6,-5832.5,23.9,24.6,9.9,10.7,-17.2,16.1,-153.3
6,Length of Day (hours),4222.6,2802.0,24.0,24.7,9.9,10.7,17.2,16.1,153.3
7,Distance from Sun (106 km),57.9,108.2,149.6,227.9,778.6,1433.5,2872.5,4495.1,5906.4
8,Perihelion (106 km),46.0,107.5,147.1,206.6,740.5,1352.6,2741.3,4444.5,4436.8
9,Aphelion (106 km),69.8,108.9,152.1,249.2,816.6,1514.5,3003.6,4545.7,7375.9
10,Orbital Period (days),88.0,224.7,365.2,687.0,4331,10747,30589,59800,90560
11,Orbital Velocity (km/s),47.4,35.0,29.8,24.1,13.1,9.7,6.8,5.4,4.7
12,Orbital Inclination (degrees),7.0,3.4,0.0,1.9,1.3,2.5,0.8,1.8,17.2
13,Orbital Eccentricity,0.205,0.007,0.017,0.094,0.049,0.057,0.046,0.011,0.244
14,Obliquity to Orbit (degrees),0.034,177.4,23.4,25.2,3.1,26.7,97.8,28.3,122.5
15,Mean Temperature (C),167,464,15,-65,-110,-140,-195,-200,-225
17,Number of Moons,0,0,1,2,79,82,27,14,5
18,Ring System?,No,No,No,No,Yes,Yes,Yes,Yes,No

In [103]:
# set the column "Planet" as the index
transformed_fact_data = fact_sheet_transformed.set_index('Planet')
transformed_fact_data

,Mercury,Venus,Earth,Mars,Jupiter,Saturn,Uranus,Neptune,Pluto
Planet,,,,,,,,,
Mass (1024kg),0.330,4.87,5.97,0.642,1898,568,86.8,102,0.0146
Diameter (km),4879,12104,12756,6792,142984,120536,51118,49528,2370
Density (kg/m3),5427,5243,5514,3933,1326,687,1271,1638,2095
Gravity (m/s2),3.7,8.9,9.8,3.7,23.1,9.0,8.7,11.0,0.7
Escape Velocity (km/s),4.3,10.4,11.2,5.0,59.5,35.5,21.3,23.5,1.3
Rotation Period (hours),1407.6,-5832.5,23.9,24.6,9.9,10.7,-17.2,16.1,-153.3
Length of Day (hours),4222.6,2802.0,24.0,24.7,9.9,10.7,17.2,16.1,153.3
Distance from Sun (106 km),57.9,108.2,149.6,227.9,778.6,1433.5,2872.5,4495.1,5906.4
Perihelion (106 km),46.0,107.5,147.1,206.6,740.5,1352.6,2741.3,4444.5,4436.8
Aphelion (106 km),69.8,108.9,152.1,249.2,816.6,1514.5,3003.6,4545.7,7375.9
Orbital Period (days),88.0,224.7,365.2,687.0,4331,10747,30589,59800,90560
Orbital Velocity (km/s),47.4,35.0,29.8,24.1,13.1,9.7,6.8,5.4,4.7
Orbital Inclination (degrees),7.0,3.4,0.0,1.9,1.3,2.5,0.8,1.8,17.2
Orbital Eccentricity,0.205,0.007,0.017,0.094,0.049,0.057,0.046,0.011,0.244
Obliquity to Orbit (degrees),0.034,177.4,23.4,25.2,3.1,26.7,97.8,28.3,122.5
Mean Temperature (C),167,464,15,-65,-110,-140,-195,-200,-225
Number of Moons,0,0,1,2,79,82,27,14,5
Ring System?,No,No,No,No,Yes,Yes,Yes,Yes,No

In [104]:
# performed a transpose function on the table to set the planets as the rows
planetary_fact_sheet = transformed_fact_data.T
planetary_fact_sheet

Planet,Mass (1024kg),Diameter (km),Density (kg/m3),Gravity (m/s2),Escape Velocity (km/s),Rotation Period (hours),Length of Day (hours),Distance from Sun (106 km),Perihelion (106 km),Aphelion (106 km),Orbital Period (days),Orbital Velocity (km/s),Orbital Inclination (degrees),Orbital Eccentricity,Obliquity to Orbit (degrees),Mean Temperature (C),Number of Moons,Ring System?
Mercury,0.330,4879,5427,3.7,4.3,1407.6,4222.6,57.9,46.0,69.8,88.0,47.4,7.0,0.205,0.034,167,0,No
Venus,4.87,12104,5243,8.9,10.4,-5832.5,2802.0,108.2,107.5,108.9,224.7,35.0,3.4,0.007,177.4,464,0,No
Earth,5.97,12756,5514,9.8,11.2,23.9,24.0,149.6,147.1,152.1,365.2,29.8,0.0,0.017,23.4,15,1,No
Mars,0.642,6792,3933,3.7,5.0,24.6,24.7,227.9,206.6,249.2,687.0,24.1,1.9,0.094,25.2,-65,2,No
Jupiter,1898,142984,1326,23.1,59.5,9.9,9.9,778.6,740.5,816.6,4331,13.1,1.3,0.049,3.1,-110,79,Yes
Saturn,568,120536,687,9.0,35.5,10.7,10.7,1433.5,1352.6,1514.5,10747,9.7,2.5,0.057,26.7,-140,82,Yes
Uranus,86.8,51118,1271,8.7,21.3,-17.2,17.2,2872.5,2741.3,3003.6,30589,6.8,0.8,0.046,97.8,-195,27,Yes
Neptune,102,49528,1638,11.0,23.5,16.1,16.1,4495.1,4444.5,4545.7,59800,5.4,1.8,0.011,28.3,-200,14,Yes
Pluto,0.0146,2370,2095,0.7,1.3,-153.3,153.3,5906.4,4436.8,7375.9,90560,4.7,17.2,0.244,122.5,-225,5,No

In [105]:
# renamed the columns
planetary_fact_sheet = planets_fact_sheet_transformed.rename(columns = {"Mass (1024kg)" : "Mass per 1024kg",
                                                                "Diameter (km)" : "Diameter per km",
                                                                "Density (kg/m3)" : "Density per kg/m3",
                                                                "Gravity (m/s2)" : "Gravity per m/s2",
                                                                "Escape Velocity (km/s)" : "Escape Velocity per km/s",
                                                                "Rotation Period (hours)" : "Rotation Period per hours",
                                                                "Length of Day (hours)" : "Length of Day per hours",
                                                                "Distance from Sun (106 km)" : "Distance from Sun per 106 km",
                                                                "Perihelion (106 km)" : "Perihelion per 106 km",
                                                                "Aphelion (106 km)" : "Aphelion per 106 km",
                                                                "Orbital Period (days)" : "Orbital Period per days",
                                                                "Orbital Velocity (km/s)" : "Orbital Velocity per km/s",
                                                                "Orbital Inclination (degrees)" : "Orbital Inclination per degrees",
                                                                "Orbital Eccentricity" : "Orbital Eccentricity",
                                                                "Obliquity to Orbit (degrees)" : "Obliquity to Orbit per degrees",
                                                                "Mean Temperature (C)" : "Mean Temperature per Celsius",
                                                                "Number of Moons" : "Number of Moons",
                                                                "Ring System?" : "Ring System?"})
                                                                
planetary_fact_sheet

Planet,Mass per 1024kg,Diameter per km,Density per kg/m3,Gravity per m/s2,Escape Velocity per km/s,Rotation Period per hours,Length of Day per hours,Distance from Sun per 106 km,Perihelion per 106 km,Aphelion per 106 km,Orbital Period per days,Orbital Velocity per km/s,Orbital Inclination per degrees,Orbital Eccentricity,Obliquity to Orbit per degrees,Mean Temperature per Celsius,Number of Moons,Ring System?
Mercury,0.330,4879,5427,3.7,4.3,1407.6,4222.6,57.9,46.0,69.8,88.0,47.4,7.0,0.205,0.034,167,0,No
Venus,4.87,12104,5243,8.9,10.4,-5832.5,2802.0,108.2,107.5,108.9,224.7,35.0,3.4,0.007,177.4,464,0,No
Earth,5.97,12756,5514,9.8,11.2,23.9,24.0,149.6,147.1,152.1,365.2,29.8,0.0,0.017,23.4,15,1,No
Mars,0.642,6792,3933,3.7,5.0,24.6,24.7,227.9,206.6,249.2,687.0,24.1,1.9,0.094,25.2,-65,2,No
Jupiter,1898,142984,1326,23.1,59.5,9.9,9.9,778.6,740.5,816.6,4331,13.1,1.3,0.049,3.1,-110,79,Yes
Saturn,568,120536,687,9.0,35.5,10.7,10.7,1433.5,1352.6,1514.5,10747,9.7,2.5,0.057,26.7,-140,82,Yes
Uranus,86.8,51118,1271,8.7,21.3,-17.2,17.2,2872.5,2741.3,3003.6,30589,6.8,0.8,0.046,97.8,-195,27,Yes
Neptune,102,49528,1638,11.0,23.5,16.1,16.1,4495.1,4444.5,4545.7,59800,5.4,1.8,0.011,28.3,-200,14,Yes
Pluto,0.0146,2370,2095,0.7,1.3,-153.3,153.3,5906.4,4436.8,7375.9,90560,4.7,17.2,0.244,122.5,-225,5,No

In [106]:
# export the DataFrame to a csv file
planetary_fact_sheet.to_csv("Transformed_Data/planetary_fact_sheet_transformed.csv", index_label='Planet')