In [20]:
# import library
import pandas as pd

In [21]:
# assign the csv file to a variable
ratio_fact_sheet_path = ('Resources/planetary_ratio_fact_sheet.csv')

# read the csv file while setting the index_col = 0 to use the first column in the csv file as the index
ratio_fact_sheet_df = pd.read_csv(ratio_fact_sheet_path, index_col=0)
ratio_fact_sheet_df

,Unnamed: 0.1,MERCURY,VENUS,EARTH,MOON,MARS,JUPITER,SATURN,URANUS,NEPTUNE,PLUTO
0,Mass,0.0553,0.815,1,0.0123,0.107,317.8,95.2,14.5,17.1,0.0025
1,Diameter,0.383,0.949,1,0.2724,0.532,11.21,9.45,4.01,3.88,0.186
2,Density,0.984,0.951,1,0.605,0.713,0.240,0.125,0.230,0.297,0.380
3,Gravity,0.378,0.907,1,0.166,0.377,2.36,0.916,0.889,1.12,0.071
4,Escape Velocity,0.384,0.926,1,0.213,0.450,5.32,3.17,1.90,2.10,0.116
5,Rotation Period,58.8,-244,1,27.4,1.03,0.415,0.445,-0.720,0.673,6.41
6,Length of Day,175.9,116.8,1,29.5,1.03,0.414,0.444,0.718,0.671,6.39
7,Distance from Sun,0.387,0.723,1,0.00257*,1.52,5.20,9.58,19.20,30.05,39.48
8,Perihelion,0.313,0.731,1,0.00247*,1.41,5.03,9.20,18.64,30.22,30.16
9,Aphelion,0.459,0.716,1,0.00267*,1.64,5.37,9.96,19.75,29.89,48.49
10,Orbital Period,0.241,0.615,1,0.0748*,1.88,11.9,29.4,83.7,163.7,247.9
11,Orbital Velocity,1.59,1.18,1,0.0343*,0.808,0.439,0.325,0.228,0.182,0.157
12,Orbital Eccentricity,12.3,0.401,1,3.29,5.60,2.93,3.38,2.74,0.677,14.6
13,Obliquity to Orbit,0.001,0.113*,1,0.285,1.07,0.134,1.14,4.17*,1.21,2.45*
14,Surface Pressure,0,92,1,0,0.01,Unknown*,Unknown*,Unknown*,Unknown*,0.00001
15,Number of Moons,0,0,1,0,2,79,82,27,14,5
16,Ring System?,No,No,No,No,No,Yes,Yes,Yes,Yes,No
17,Global Magnetic Field?,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Unknown
18,NaN,MERCURY,VENUS,EARTH,MOON,MARS,JUPITER,SATURN,URANUS,NEPTUNE,PLUTO

In [22]:
# delete the column "MOON" since it's not a planet
del ratio_fact_sheet_df['MOON']

# renamed the first column to "Planet"
ratio_fact_sheet_df.columns.values[0] = "Planet"

# converted the column names to titles (first character to uppercase, and remaining to lower case)
ratio_fact_sheet_df.columns = ratio_fact_sheet_df.columns.str.title()

# delete unnecessary rows
ratio_fact_sheet_transformed = ratio_fact_sheet_df.drop([14,15,16,17,18])
ratio_fact_sheet_transformed

,Planet,Mercury,Venus,Earth,Mars,Jupiter,Saturn,Uranus,Neptune,Pluto
0,Mass,0.0553,0.815,1,0.107,317.8,95.2,14.5,17.1,0.0025
1,Diameter,0.383,0.949,1,0.532,11.21,9.45,4.01,3.88,0.186
2,Density,0.984,0.951,1,0.713,0.240,0.125,0.230,0.297,0.380
3,Gravity,0.378,0.907,1,0.377,2.36,0.916,0.889,1.12,0.071
4,Escape Velocity,0.384,0.926,1,0.450,5.32,3.17,1.90,2.10,0.116
5,Rotation Period,58.8,-244,1,1.03,0.415,0.445,-0.720,0.673,6.41
6,Length of Day,175.9,116.8,1,1.03,0.414,0.444,0.718,0.671,6.39
7,Distance from Sun,0.387,0.723,1,1.52,5.20,9.58,19.20,30.05,39.48
8,Perihelion,0.313,0.731,1,1.41,5.03,9.20,18.64,30.22,30.16
9,Aphelion,0.459,0.716,1,1.64,5.37,9.96,19.75,29.89,48.49
10,Orbital Period,0.241,0.615,1,1.88,11.9,29.4,83.7,163.7,247.9
11,Orbital Velocity,1.59,1.18,1,0.808,0.439,0.325,0.228,0.182,0.157
12,Orbital Eccentricity,12.3,0.401,1,5.60,2.93,3.38,2.74,0.677,14.6
13,Obliquity to Orbit,0.001,0.113*,1,1.07,0.134,1.14,4.17*,1.21,2.45*

In [23]:
# set the column "Planet" as the index
transformed_ratio_data = ratio_fact_sheet_transformed.set_index('Planet')
transformed_ratio_data

,Mercury,Venus,Earth,Mars,Jupiter,Saturn,Uranus,Neptune,Pluto
Planet,,,,,,,,,
Mass,0.0553,0.815,1,0.107,317.8,95.2,14.5,17.1,0.0025
Diameter,0.383,0.949,1,0.532,11.21,9.45,4.01,3.88,0.186
Density,0.984,0.951,1,0.713,0.240,0.125,0.230,0.297,0.380
Gravity,0.378,0.907,1,0.377,2.36,0.916,0.889,1.12,0.071
Escape Velocity,0.384,0.926,1,0.450,5.32,3.17,1.90,2.10,0.116
Rotation Period,58.8,-244,1,1.03,0.415,0.445,-0.720,0.673,6.41
Length of Day,175.9,116.8,1,1.03,0.414,0.444,0.718,0.671,6.39
Distance from Sun,0.387,0.723,1,1.52,5.20,9.58,19.20,30.05,39.48
Perihelion,0.313,0.731,1,1.41,5.03,9.20,18.64,30.22,30.16
Aphelion,0.459,0.716,1,1.64,5.37,9.96,19.75,29.89,48.49
Orbital Period,0.241,0.615,1,1.88,11.9,29.4,83.7,163.7,247.9
Orbital Velocity,1.59,1.18,1,0.808,0.439,0.325,0.228,0.182,0.157
Orbital Eccentricity,12.3,0.401,1,5.60,2.93,3.38,2.74,0.677,14.6
Obliquity to Orbit,0.001,0.113*,1,1.07,0.134,1.14,4.17*,1.21,2.45*

In [24]:
# performed a transpose function on the table to set the planets as the rows
planets_ratio_fact_sheet_transformed = transformed_ratio_data.T
planets_ratio_fact_sheet_transformed

Planet,Mass,Diameter,Density,Gravity,Escape Velocity,Rotation Period,Length of Day,Distance from Sun,Perihelion,Aphelion,Orbital Period,Orbital Velocity,Orbital Eccentricity,Obliquity to Orbit
Mercury,0.0553,0.383,0.984,0.378,0.384,58.8,175.9,0.387,0.313,0.459,0.241,1.59,12.3,0.001
Venus,0.815,0.949,0.951,0.907,0.926,-244,116.8,0.723,0.731,0.716,0.615,1.18,0.401,0.113*
Earth,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Mars,0.107,0.532,0.713,0.377,0.450,1.03,1.03,1.52,1.41,1.64,1.88,0.808,5.60,1.07
Jupiter,317.8,11.21,0.240,2.36,5.32,0.415,0.414,5.20,5.03,5.37,11.9,0.439,2.93,0.134
Saturn,95.2,9.45,0.125,0.916,3.17,0.445,0.444,9.58,9.20,9.96,29.4,0.325,3.38,1.14
Uranus,14.5,4.01,0.230,0.889,1.90,-0.720,0.718,19.20,18.64,19.75,83.7,0.228,2.74,4.17*
Neptune,17.1,3.88,0.297,1.12,2.10,0.673,0.671,30.05,30.22,29.89,163.7,0.182,0.677,1.21
Pluto,0.0025,0.186,0.380,0.071,0.116,6.41,6.39,39.48,30.16,48.49,247.9,0.157,14.6,2.45*

In [25]:
# remove the asterisks value in column "Obliquity to Orbit"
planets_ratio_fact_sheet_transformed['Obliquity to Orbit'] = planets_ratio_fact_sheet_transformed['Obliquity to Orbit'].str.replace(r'\*', '')
planets_ratio_fact_sheet_transformed

Planet,Mass,Diameter,Density,Gravity,Escape Velocity,Rotation Period,Length of Day,Distance from Sun,Perihelion,Aphelion,Orbital Period,Orbital Velocity,Orbital Eccentricity,Obliquity to Orbit
Mercury,0.0553,0.383,0.984,0.378,0.384,58.8,175.9,0.387,0.313,0.459,0.241,1.59,12.3,0.001
Venus,0.815,0.949,0.951,0.907,0.926,-244,116.8,0.723,0.731,0.716,0.615,1.18,0.401,0.113
Earth,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Mars,0.107,0.532,0.713,0.377,0.450,1.03,1.03,1.52,1.41,1.64,1.88,0.808,5.60,1.07
Jupiter,317.8,11.21,0.240,2.36,5.32,0.415,0.414,5.20,5.03,5.37,11.9,0.439,2.93,0.134
Saturn,95.2,9.45,0.125,0.916,3.17,0.445,0.444,9.58,9.20,9.96,29.4,0.325,3.38,1.14
Uranus,14.5,4.01,0.230,0.889,1.90,-0.720,0.718,19.20,18.64,19.75,83.7,0.228,2.74,4.17
Neptune,17.1,3.88,0.297,1.12,2.10,0.673,0.671,30.05,30.22,29.89,163.7,0.182,0.677,1.21
Pluto,0.0025,0.186,0.380,0.071,0.116,6.41,6.39,39.48,30.16,48.49,247.9,0.157,14.6,2.45

In [26]:
# renamed the columns
planetary_ratio_fact_sheet = planets_ratio_fact_sheet_transformed.rename(columns = {"Mass" : "Mass per 1024kg",
                                                                            "Diameter" : "Diameter per km",
                                                                            "Density" : "Density per kg/m3",
                                                                            "Gravity" : "Gravity per m/s2",
                                                                            "Escape Velocity" : "Escape Velocity per km/s",
                                                                            "Rotation Period" : "Rotation Period per hours",
                                                                            "Length of Day" : "Length of Day per hours",
                                                                            "Distance from Sun" : "Distance from Sun per 106 km",
                                                                            "Perihelion" : "Perihelion per 106 km",
                                                                            "Aphelion" : "Aphelion per 106 km",
                                                                            "Orbital Period" : "Orbital Period per days",
                                                                            "Orbital Velocity" : "Orbital Velocity per km/s",
                                                                            "Orbital Eccentricity" : "Orbital Eccentricity",
                                                                            "Obliquity to Orbit" : "Obliquity to Orbit per degrees"})
planetary_ratio_fact_sheet

Planet,Mass per 1024kg,Diameter per km,Density per kg/m3,Gravity per m/s2,Escape Velocity per km/s,Rotation Period per hours,Length of Day per hours,Distance from Sun per 106 km,Perihelion per 106 km,Aphelion per 106 km,Orbital Period per days,Orbital Velocity per km/s,Orbital Eccentricity,Obliquity to Orbit per degrees
Mercury,0.0553,0.383,0.984,0.378,0.384,58.8,175.9,0.387,0.313,0.459,0.241,1.59,12.3,0.001
Venus,0.815,0.949,0.951,0.907,0.926,-244,116.8,0.723,0.731,0.716,0.615,1.18,0.401,0.113
Earth,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Mars,0.107,0.532,0.713,0.377,0.450,1.03,1.03,1.52,1.41,1.64,1.88,0.808,5.60,1.07
Jupiter,317.8,11.21,0.240,2.36,5.32,0.415,0.414,5.20,5.03,5.37,11.9,0.439,2.93,0.134
Saturn,95.2,9.45,0.125,0.916,3.17,0.445,0.444,9.58,9.20,9.96,29.4,0.325,3.38,1.14
Uranus,14.5,4.01,0.230,0.889,1.90,-0.720,0.718,19.20,18.64,19.75,83.7,0.228,2.74,4.17
Neptune,17.1,3.88,0.297,1.12,2.10,0.673,0.671,30.05,30.22,29.89,163.7,0.182,0.677,1.21
Pluto,0.0025,0.186,0.380,0.071,0.116,6.41,6.39,39.48,30.16,48.49,247.9,0.157,14.6,2.45

In [27]:
# export the DataFrame to a csv file
planetary_ratio_fact_sheet.to_csv("Transformed_Data/planetary_ratio_fact_sheet_transformed.csv", index_label='Planet')